/** create-app-cli */
/* fuentes */
@font-face {
    font-family: "nevis";
    src: url(../fonts/nevis.eot);
    src: url(../fonts/nevis.eot?#iefix) format("embedded-opentype"),
        url(../fonts/nevis.woff) format("woff"),
        url(../fonts/nevis.ttf) format("truetype"),
        url(../fonts/nevis.svg) format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "fjalla";
    src: url(../fonts/FjallaOne-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "icons";
    src: url(../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular) format("svg"),
        url(../fonts/websymbols-regular-webfont.eot);
    src: url(../fonts/websymbols-regular-webfont.eot?#iefix) format("embedded-opentype"),
        url(../fonts/websymbols-regular-webfont.woff) format("woff"),
        url(../fonts/websymbols-regular-webfont.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* temas */
:root {
    --color-theme: #70b231;
    --text-shadow: #333333;
    --dropdown-background: #f2f1f0;
    --border-background: #d6d6d6;
}

/* estilos generales */
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/paven.png);
}	

/*formularios*/
input[type="text"],
input[type="email"],
input[type="password"],
select {
    border: 1px solid #c9c9c9;
    box-shadow: 0 0 2px #ccc inset;
    background: white;
    padding: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: gray;
    transition: all 300ms;
}


input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
    border: 1px solid var(--color-theme);
    color: black;
    outline: none;
}

input[type="submit"],
input[type="button"],
input[type="reset"],
button {
    display: block;
    border-radius: 5px;
    width: 60px;
    padding: 3px;
    background-color: var(--color-theme);
    border: 1px solid green;
    cursor: pointer;
    color: white;
}

input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
button:hover {
    box-shadow: 0 0 2px gray;
}

input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active,
button:active {
    box-shadow: 0 0 3px gray inset;
    text-shadow: 0 0 1px #ccc;
}

a {
    color: #529125;
    text-decoration: none;
}

a:hover {
    color: #285616;
}

a:visited {
    color: #529125;
}

.red {
    color: #9b2422 !important;
}

.blue {
    color: #0c73f2 !important;
}

.orange {
    color: #d69d2a !important;
}


.icon {
    font-family: "icons";   
    float: left;
    margin-right: 5px;
    margin-top: -2px;
}

.clearfix {
    float: none;
    clear: both;
}

/* cabecera */
#header {
    min-width: 1024px;
    width: 100%;
    height: 250px;
    margin: 0 auto;
}	

#header a {
    text-decoration: none;
}

#header #logotipo {
    width: 770px;
    margin: 0 auto;
    padding-top: 20px;
}

#header #logotipo img {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 140px;
}

#header h1 {
    text-align: center;
    font-size: 40px;
    font-family: "nevis";
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 10px;
    text-shadow: 0px 2px 1px var(--text-shadow);
    transition: all 300ms;
}

#header h1:hover {
    text-shadow: 0px 2px 1px var(--text-shadow), 
        0px 0px 4px  var(--color-theme);
}

#header h1 a {
    color: var(--color-theme);
}

/* barra de naveacion */
#nav {
    width: 100%;
    background-color: var(--text-shadow);
    color: white;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-shadow: 0 0 2px gray;
}

#nav ul {
    list-style: none;
    margin: 0 auto;
    width: 1090px;
}

#nav > ul > li {
    line-height: 40px;
    float: left;
    border-right: 1px solid gray;
    transition: all 300ms;
}

#nav > ul > li a{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: white;
}

#nav > ul > li > a:first-child {
    border-left: 1px solid gray;
}

#nav > ul > li:hover {
    background-color: var(--color-theme);
    box-shadow: 0 0 4px green inset; /* sombra interior */
}

/* menu-desplegable */
#nav > ul > li > ul {
    display: none;
    position: absolute;
    width: 160px;
    box-shadow: 0 2px 2px gray;
    z-index: 1; /* se sobrepone */
}

#nav > ul > li:hover > ul {
    display: block;
}

#nav > ul > li:hover > ul > li {
    background-color: var(--dropdown-background);
    border-bottom: 1px solid var(--border-background);
    padding: 8px;
    line-height: 25px;
    font-size: 13px;
    transition: all 300ms;
}

#nav > ul > li:hover > ul > li a {
    color: #666;
}

#nav > ul > li:hover > ul > li:hover{
    background-color: #ccc;
}

/*contenido*/
#content {
    width: 1250px;
    min-height: 1100px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

/*barra lateral*/
#aside,
#frase {
    width: 200px;
    float: left;
    margin: 30px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px #ccc;
    font-family: Arial, Helvetica, sans-serif;
}

#aside .widget {
    display: block;
    width: 180px;
    margin: 5px auto;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    border-bottom: 1px dashed #333;
}

#aside .widget:last-child {
    margin-bottom: 20px;
}

#aside h3 {
    display: block;
    color: #333;
    width: 100%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    background: #f2f3f2;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    margin-bottom: 15px;
}

/*formularios barra lateral*/
#aside div label,
#aside div input[type="text"],
#aside div input[type="email"],
#aside div input[type="password"],
#aside div a {
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
}

#aside div input[type="button"],
#aside div input[type="submit"],
button {
    margin-top: 5px;
    margin-bottom: 10px;
}

#aside input,
#aside label {
    margin: 0 auto;
    text-align: center;
}

#aside li {
    margin-top: 8px;
    margin-bottom: 5px;
    margin-left: 20px;
    list-style: square;
}

#frase {
    /* clear: both; */
    width: 180px;
    padding: 10px;
    font-style: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

/* secciones */
#sections {
    float: right;
    width: 75%;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 20px;
}

#sections .titulo {
    font-size: 24px;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 5px;
    font-family: "fjalla";
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    margin-top: -20px;
}

#sections section {
    margin-top: 40px;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 4px #c9c9c9;
    color: #333;
    font-size: 16px;
    overflow: hidden;
}

#sections .article {
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#sections .date {
    color: gray;
    font-size: 14px;
}

#sections .sticker-one,
#sections .sticker-two {
    position: absolute;
    margin-top: -38px;
    z-index: 0;
}

#sections .sticker-two {
    margin-left: 860px;
}

/* footer */
#history {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

#footer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    background-color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-shadow: 0 0 2px gray;
}
