@media (max-width: 1250px) {
    .wrap {
        width: 90%;
        margin: 0 auto;
    }

    #banner h1 {
        font-size: 35px;
        text-align: center;
        margin: 33px auto;
        width: 100%;
    }

    .card {
        width: 17%;
        margin: 1.45%;
    }

    .card p {
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 90%;
    }

    #articles {
        width: 65%;
    }

    #articles article {
        width: 97%;
    }   

    #footer .wrap > div {
        width: 24%;
    }

    #footer #browsers img {
        width: 14%;
    }

    #footer h5 {
        font-size: 30px;
    }
}

@media (max-width: 1080px) {
    .card .category {
        font-size: 17px;
    }

    .card .description {
        font-size: 14px;
    }

    #articles {
        width: 61%;
    }
}


@media (max-width: 970px) {
    #articles {
        width: 59%;
    } 

    #footer h5 {
        font-size: 22px;
    }

    #footer .wrap > div {
        width: 26%;
        margin: 20px;
    }
}

@media (max-width: 925px) {
    #articles {
        width: 65%;
    }
    
    #lateral {
        width: 25%;
    }

    #lateral input[type="text"] {
        width: 78%;
    }

    .aside-box {
        width: 95%;
        min-height: 140px;
        height: auto;
        padding-bottom: 10px;
    }

    #login input[type="email"],
    #login input[type="password"] {
        width: 65%;
    }

    #login #user,
    #login #password {
        margin-left: 24px;
    }

    #login input[type="button"], 
    #login input[type="submit"], 
    #login input[type="reset"], 
    button {
        margin-bottom: 0;
    }

    #login input[type="reset"] {
        display: none;
    }

    #login a {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 899px) {
    #lateral h3 {
        font-size: 20px;
    }
}

@media (max-width: 799px) {
    #banner h1 {
        font-size: 29px;
    }

    .card {
        height: auto;
    }

    .card .category {
        font-size: 15px;
        margin-top: -23px;
    }

    .card .description {
        display: none;
    }

    #footer img {
        margin-bottom: 15px;
        max-width: 100%;
    }
}

@media (max-width: 724px) {
    #header {
        width: 100%;
        height: 135px;
        padding-top: 10px;
    }

    #header #menu {
        clear: both;
        float: none;
        margin: 0 auto;
        width: 440px;
    }

    #logo {
        float: none;
        margin-top: 0;
        margin: 0 auto;
    }

    #lateral input[type="text"] {
        width: 70%;
    }
}

@media (max-width: 660px) {
    #lateral {
        clear: both;
        float: none;
        width: 100%;
        margin: 0 auto;
        min-height: auto;
    }

    #articles {
        margin: 0 auto;
        clear: both;
        float: none;
        width: 100%;
        min-height: auto;
    }

    #banner h1 {
        font-size: 25px;
    }

    #lateral input[type="text"] {
        width: 90%;
    }

    #login input[type="email"], 
    #login input[type="password"] {
        width: 90%;
    }

    #footer {
        height: auto;
        padding-bottom: 40px;
    }

    #footer h5 {
        font-size: 25px;
    }

    #footer .wrap > div {
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
    }
}

@media (max-width: 475px) {
    #header {
        height: 275px;
    }

    #logo {
        float: left;
    }
    
    #header #menu {
        clear: both;
        float: none;
        margin: 0 auto;
        width: 100%;
    }

    #menu ul li {
        width: 100%;
        line-height: 52px;
    }

    #menu ul li a {
        width: 100%;
        margin: 0;
    }

    #menu ul li a:hover {
        color: #37bcf9;
        transform: scale(1, 1);
    }

    #banner {
        height: 85px;
    }
    
    #banner h1 {
        font-size: 18px;
    }

    #lateral input[type="text"] {
        width: 85%;
    }

    .card .icon,
    .card:hover .icon {
        font-size: 35px;
    }

    .card .category {
        font-size: 13px;
    }

    #articles .data {
        float: none;
        border-radius: 0;
    }

    #articles article h4 {
        margin-top: 20px;
    }
}

